body {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
}

footer {
    
}

a {
    text-decoration: none;
    color: #333;
    margin-bottom: 20px;
}

a:hover {
    color: blueviolet;
}

button {
    background: gray;
    color: white;
}

form {
    margin-top: 20px;
}
img {
    width: 240px;
}